<li class="genre-@(nthGenre % 8)">
    <a href="movie/search?genreId=@Genre.Id">
        @Genre.Name
    </a>
    <i class="oi oi-delete" @onclick="@(()=>OnDeleteClicked.InvokeAsync(Genre.Id))"></i>

</li>

@code {
    [Parameter]
    public Genre Genre { get; set; }
    [Parameter]
    public int nthGenre { get; set; }
    [Parameter]
    public EventCallback<int> OnDeleteClicked { get; set; }
}
