<div class="list-group">
    <div class="genres-list" style="width: 40rem">
        @for (var i = 0; i < Genres.Count; i++)
        {
            var genre = Genres[i];
            <GenreIndividual Genre="genre" nthGenre="i" OnDeleteClicked ="OnDeleteClicked">
            </GenreIndividual>
        }
    </div>
</div>

@code {
    [Parameter]
    public List<Genre> Genres { get; set; }
    [Parameter] public EventCallback<int> OnDeleteClicked { get; set; }
}
