@page "/movies"
@using BlazorPracticeServer.Pages;

<p>Singleton count: @SingletonService.Value</p>

<div>
    @* creating reference of component *@
    <MoviesList @ref="moviesList" Movies="_movies">
    </MoviesList>
</div>





<div>
    <h3>Dummy Text Box</h3>
    
</div>
@foreach (var message in _messages)
{
    <text>@message</text>
    <br />

}

@code{
    private MoviesList moviesList;
}
