@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #0A0404;
}

a {
    color: white;
}

label {
    color: white;
}

.btn-link {
    color: #0366d6;
}

h1, h2, h3 {
    color: white;
}

p {
    color: white;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
.top-row {
    background: #0A0404
}
.page {
    background: #0A0404;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


.movie-category {
    text-align: center;
}
/*#region MovieList */
#movies {
    width: 100%;
    background: rgba(0, 0, 0, 0.87);
}

    #movies h3 {
        text-align: center;
    }

.movies-list {
    width:100%;
    padding: 3rem 0;
    display: inline-flex;
    flex-wrap: wrap;
}

    .movies-list .individual-movie-container {
        background-color: transparent;
        width: 15%;
    }
    .movies-list .movie-poster {
        margin: 2rem 0;
        height: 15rem;
    }

.movie-poster {
    width: 100%;
}


.individual-movie-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0.5rem;
    background: rgba(0, 0, 0, 0.87);
}

.movie-poster-cont {
    width: 90%;
    fill-opacity: 1;
}



.individual-movie-container p {
    max-width: 225px;
    height: 44px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.button-group {
    width: 100%;
    left: 0;
}

/*#endregion */
/*#region Carousel */

div#carousel {
    margin: 5rem 0;
    perspective: 3000px;
    font-size: 0;
    transform: scaleY(1);
}

figure#spinner {
    transform-style: preserve-3d;
    height: 600px;
    transform-origin: 50% 50% -500px;
    transition: 1s;
    display: flex;
}

    figure#spinner div {
        width: 80%;
        max-width: 18rem;
        position: absolute;
        left: 30%;
        transform-origin: 50% 50% -500px;
        outline: 1px solid transparent;
    }

    figure#spinner .individual-movie-container img {
        height: 20rem;
    }

    figure#spinner .individual-movie-container:nth-child(1) {
        transform: rotateY(0deg);
    }

    figure#spinner .individual-movie-container:nth-child(2) {
        transform: rotateY(-45deg);
    }

    figure#spinner .individual-movie-container:nth-child(3) {
        transform: rotateY(-90deg);
    }

    figure#spinner .individual-movie-container:nth-child(4) {
        transform: rotateY(-135deg);
    }

    figure#spinner .individual-movie-container:nth-child(5) {
        transform: rotateY(-180deg);
    }

    figure#spinner .individual-movie-container:nth-child(6) {
        transform: rotateY(-225deg);
    }

    figure#spinner .individual-movie-container:nth-child(7) {
        transform: rotateY(-270deg);
    }

    figure#spinner .individual-movie-container:nth-child(8) {
        transform: rotateY(-315deg);
    }

div#carousel ~ span {
    color: #fff;
    margin: 5%;
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    transition: 0.6s color;
    position: relative;
    margin-top: -6rem;
    border-bottom: none;
    line-height: 0;
}

    div#carousel ~ span:hover {
        color: #888;
        cursor: pointer;
    }

/*#endregion */



/*#region Markdown */

.form-markdown {
    display: flex;
}

    .form-markdown textarea {
        width: 500px;
        height: 500px;
        margin-right: 15px;
    }

    .form-markdown .markdown-container {
        color: white;
        border: 1px dashed rgb(255, 255, 255);
        width: 500px;
        height: 500px;
    }

/*#endregion */


/* Multiple Selector */
.multiple-selector {
    display: flex;
}

    .multiple-selector li {
        color: white;
    }

.selectable-ul {
    height: 200px;
    overflow-y: auto;
    list-style-type: none;
    width: 170px;
    padding: 0;
    border-radius: 3px;
    border: 1px solid #ccc;
}

    .selectable-ul li {
        cursor: pointer;
        border-bottom: 1px #eee solid;
        padding: 2px 10px;
        font-size: 14px;
    }

        .selectable-ul li:hover {
            background-color: #08c;
        }

.multiple-selector-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

    .multiple-selector-buttons button {
        margin: 5px;
    }
/*#endregion */

/*#region GenreList */

.genres-list {
    margin: 0 auto;
    list-style-type: none;
    text-align: center;
    width : 40rem;
}

    .genres-list li {
        padding: 10px;
        font-family: helvetica;
        color: #fff;
        font-weight: lighter;
        font-size: 28px;
        line-height: 28px;
        margin: 2px;
        padding: 20px 30px;
        float: left;
        cursor: pointer;
        opacity: 0.85;
        transition: opacity 0.1s ease, padding 0.1s ease;
    }

        .genres-list li:after {
            overflow: hidden;
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
            font-weight: bold;
            margin-left: 0;
            width: 0;
            opacity: 0;
            white-space: nowrap;
            transition: width 0.2s ease, opacity 0.1s ease;
            /* pill */
            box-sizing: border-box;
            background-color: rgba(0,0,0,0.1);
            padding: 5px 0 2px;
            border-radius: 4px;
            line-height: 1;
            border: 1px solid rgba(0,0,0,0.04)
            /**/
        }

        .genres-list li:hover {
            position: relative;
            z-index: 2;
            opacity: 1;
            padding: 20px;
        }

            .genres-list li:hover:after {
                margin-left: 15px;
                width: 80px;
                opacity: 1;
            }

    .genres-list .genre-0 {
        background: #FCB4A9;
    }

    .genres-list .genre-1 {
        background-color: #91E1FF;
    }

    .genres-list .genre-2 {
        background-color: #D5F484;
    }

    .genres-list .genre-3 {
        background-color: #FFB200;
    }

    .genres-list .genre-4 {
        background-color: #E693FF;
    }

    .genres-list .genre-5 {
        background-color: #A5FFF7;
    }

    .genres-list .genre-6 {
        background-color: #454545;
    }

    .genres-list .genre-7 {
        background-color: #ACCAFC;
    }

/*#endregion */

/*#region Typeahead */
.blazored-typeahead {
}

.blazored-typeahead__controls {
    position: relative;
    cursor: text;
    display: flex;
}

.blazored-typeahead__input {
    width: 100%;
    border: 1px solid #bfbfbf;
    padding: .5rem;
}

.blazored-typeahead__input-hidden {
    display: none;
}

.invalid {
    border-color: red !important;
}


.blazored-typeahead__input-mask-wrapper {
    display: flex;
    width: 100%;
}

.blazored-typeahead__input-mask {
    flex: 1;
    border-radius: 5px 0 0 5px;
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    padding: .5rem;
    border-left: 1px solid #bfbfbf;
}

.blazored-typeahead__clear {
    width: 40px;
    display: flex;
    border-top: 1px solid #bfbfbf;
    padding: .5rem;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    cursor: pointer;
}

.blazored-typeahead__input__icon {
    width: 40px;
    display: flex;
    border-radius: 0 5px 5px 0;
    border-top: 1px solid #bfbfbf;
    border-left: 0;
    border-right: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    padding: .5rem;
    cursor: pointer;
    background: none;
}

    .blazored-typeahead__input__icon:hover {
        background-color: #f5f5f5;
    }


.blazored-typeahead__results {
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    padding-top: .5rem;
    min-height: 2rem;
    max-height: 30rem;
    overflow-y: auto;
}

.blazored-typeahead__result,
.blazored-typeahead__notfound,
.blazored-typeahead__results-footer {
    padding: .5rem;
}

    .blazored-typeahead__result-selected, .blazored-typeahead__result:hover, .blazored-typeahead__result:focus {
        outline: -webkit-focus-ring-color auto 1px;
        background-color: #f5f5f5;
        cursor: pointer;
    }

.blazored-typeahead__loader {
    width: 24px;
    height: 24px;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}


/*#endregion */


/*#region PersonIndividual */

#person-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    color: white;
}

    #person-detail div {
        margin: auto;
        padding-bottom: 2rem;
    }

.detailtop {
}

.detailtop-top {
    width: 50%;
}

    .detailtop-top img {
        width: 20rem;
        margin: auto;
        display: block;
    }

.detailtop-bot {
    width: 80%;
    text-align: center;
}

    .detailtop-bot div {
    }

.detailbot {
    margin: auto;
    display: block;
}

.detailbot-top {
    width: 10rem;
}

.detailbot-bottom {
    width: 8.5rem;
}

/*#endregion */

/*#region MovieDetail */
#movie-detail {
    
}
    #movie-detail .genres-list {
        width: unset;

    }


/*#endregion */