@page "/people"
@using BlazorPracticeServer.Services

<h3>PeoplePage</h3>

<div class="form-group">
    <a class="btn btn-info" href="person/create">New Person</a>
</div>

@if (People != null)
{
    foreach (var person in People)
    {
        <a href="/person/detail/@person.Id">
            <p style="color:white"> @person.Name</p>
        </a>

    }

}


@code {

    private List<Person> People;

    [Inject]
    public IPersonService PersonService { get; set; }

    protected async override Task OnInitializedAsync()
    {
        People = (await PersonService.RetrieveAllPersonAsync()).ToList();
    }
}
