@page "/person/create"
@using BlazorPracticeServer.Components.PersonComp
@using BlazorPracticeServer.Services
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Authorize(Roles = "Admin")]

<h3>CreatePersonPage</h3>
<PersonForm Person="Person" OnValidSubmit="CreatePerson">
</PersonForm>


@code {
    [Inject]
    public NavigationManager NavigationManager { get; set; }
    [Inject]
    public IPersonService PersonService { get; set; }
    Person Person = new Person();

    private async Task CreatePerson()
    {
        await PersonService.RegisterPersonAsync(Person);
        NavigationManager.NavigateTo("/people");
    }

}
