@page "/person/edit/{PersonId:int}"
@using BlazorPracticeServer.Components.PersonComp
@using BlazorPracticeServer.Services


@if (Person != null)
{
    <h3>@Person.Name</h3>
    <PersonForm Person="Person" OnValidSubmit="EditPerson"></PersonForm>
}
else
{
    <text>loading</text>
}


@code {
    [Parameter]
    public int PersonId { get; set; }
    [Inject]
    public IPersonService PersonService { get; set; }
    [Inject]
    public NavigationManager NavigationManager { get; set; }
    public Person Person { get; set; }


    protected async override Task OnInitializedAsync()
    {
        Person = await PersonService.RetrievePersonByIdAsync(PersonId);
    }

    private async Task EditPerson()
    {
        await PersonService.UpdatePersonAsync(Person, PersonId);
        NavigationManager.NavigateTo("/people");
    }
}
