<div class="individual-movie-container">
    <a class="movie-poster-cont" href="@_movieURL ">
        <img src="@Movie.Poster" alt="Poster" class="movie-poster" />
    </a>
    <a href="@_movieURL">
        <p>
            <h3 style="height: 3rem">@Movie.Title </h3> <br/>
            @Movie.ReleaseDate?.ToString("MMMM,dd yyyy")<br/>
        </p>
        
    </a>
    <br />
</div>
@code{
    [Parameter]
    public Movie Movie { get; set; }
    [Parameter]
    public bool DisplayButtons { get; set; }
    // event callback, bring the method from parent component, and on certain condition, invoke it.

    private string _movieURL = string.Empty;

    protected override void OnInitialized()
    {
        _movieURL = $"movie/detail/{Movie.Id}/{Movie.Title.Replace(" ", "-")}";
    }
    protected override void OnParametersSet()
    {
        // shorten the title that has length over 10

    }
}
