@using BlazorPracticeServer.Components.Generic

<div id="movies">
    <h3 class="movie-category">@Label</h3>
    <div class="movies-list ">
        <GenericList List="@Movies">
            <ChildContent Context="movie">
                <MovieIndividual Movie="movie" DisplayButtons="@_displayDeleteButton" DeleteMoviePrompt="DeleteMoviePrompt" EditMoviePrompt="EditMoviePrompt">
                </MovieIndividual>
            </ChildContent>
        </GenericList>
    </div>
</div>
