@page "/genre"
@using BlazorPracticeServer.Services
@using BlazorPracticeServer.Components.GenreComp
<h3>Genres</h3>

<div class="form-group">
    <a class="btn btn-info" href="genre/create">New genre</a>
</div>

<GenreList Genres="Genres" OnDeleteClicked= "@DeleteGenreAsync"/> 



@code {
    [Inject] public IGenreService GenreService { get; set; }
    [Inject] public NavigationManager NavigationManager { get; set; }

    public List<Genre> Genres { get; set; } = new List<Genre>();

    protected async override Task OnInitializedAsync()
    {
        Genres = (await GenreService.RetrieveAllGenreAsync()).ToList();
    }

    private async void DeleteGenreAsync(int genreId)
    {
        await GenreService.DeleteGenreAsync(genreId);
        await UpdateGenre();
        await InvokeAsync(StateHasChanged);
    }
    private async Task UpdateGenre()
    {
        Genres = (await GenreService.RetrieveAllGenreAsync()).ToList();
    }
}
