@page "/"
@using BlazorPracticeServer.Components.MovieComp
@* Search Bar *@
<div style="margin-top: 5%">
    <EditForm Model="_movies">
        <InputText type="text" class="form-control" @bind-Value="@SearchTitle" placeholder="Title of movie to search">
        </InputText>
    </EditForm>
</div>

@* Carousel *@
<div id="movies-carousel">
    <div style="padding-top: 5%">
        <h2 class="text-capitalize"> Now Playing </h2>
        <MoviesCarousel Movies="_movies">
        </MoviesCarousel>
    </div>
</div>

@* Movies List *@
<MoviesList Movies="_movies">
</MoviesList>


@code{
    [Inject] public IRepository Repository { get; set; }
    private List<Movie> _movies;
    private string SearchTitle { get; set; } = "";


    protected async override Task OnInitializedAsync()
    {
        _movies = Repository.Movies;
    }
}
