@page "/movie/edit/{MovieId:int}"
@page "/movie/edit/{MovieId:int}/{MovieTitle}"
@using BlazorPracticeServer.Components.MovieComp
@using BlazorPracticeServer.Services
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Authorize(Roles = "Admin")]

<h3>EditMoviePage</h3>


@if (Movie != null)
{
    <MovieForm Movie="Movie" OnValidSubmit="EditMovie" SelectedActors="SelectedActors">
    </MovieForm>
}
else
{
    <p> loading...</p>
}


@code {

    [Inject] public IMovieService MovieService { get; set; }
    [Inject] public NavigationManager NavigationManager { get; set; }

    [Parameter] public int MovieId { get; set; }
    [Parameter] public string MovieTitle { get; set; }

    private Movie Movie { get; set; }
    private List<Person> SelectedActors { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Movie = await MovieService.RetrieveMovieByIdAsync(MovieId);
        SelectedActors = Movie.MoviePeople.Select(moviePerson => moviePerson.Person).ToList();

    }



    private async Task EditMovie()
    {
        await MovieService.UpdateMovieAsync(Movie, Movie.Id);
        NavigationManager.NavigateTo($"movie/detail/{MovieId}");
    }
}
