@inherits LayoutComponentBase

<div class="page">
    <div class="logo-cont">
        <img id="logo" src="images\Logo.png" />
    </div>
    <div class="top-row">
        <NavMenu/>
    </div>
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>