@inject IJSRuntime JSRuntime

<nav class="navbar @NavMenuCssClass">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <NavLink href="" Match="NavLinkMatch.All">
                <text id="len1" class="hoverable">Movies</text>
            </NavLink>

            <NavLink href="genre">
                <text id="len2" class="hoverable">Genres</text>
            </NavLink>

            <NavLink href="people">
                <text id="len3" class="hoverable">People</text>
            </NavLink>

            <NavLink href="movie/create">
                <text id="len4" class="hoverable">Create Movie</text>
            </NavLink>
        </ul>
    </div>
</nav>


@code {
    private bool collapseNavMenu = false;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
